<div class="container">
  <form>
    <div class="row mt-md-4">
      <h2 class="col-md-12 text-md-center">{{config.title}}</h2>
      <div class="col-md-12 mt-4 text-center">{{config.content}}</div>
    </div>

    <div class="row mt-md-4">
      <div class="col-md-12">
        <button type="button" (click)="cancel()" class="col-md-2 col-sm-12 mb-2 btn mr-2 offset-lg-4 offset-md-4">取 消</button>
        <button type="button" (click)="confirm()" class="col-md-2 col-sm-12 mb-2 btn btn-outline-success">确 定</button>
      </div>
    </div>
  </form>
</div>
<!--<div class="modal-header">-->
<!--  <div class="modal-title">{{config.title}}</div>-->
<!--</div>-->

<!--<div sv-container>-->
<!--  {{config.content}}-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--  <button nz-button type="button" (click)="cancel()">取 消</button>-->
<!--  <button nz-button type="button" (click)="confirm()">确 定</button>-->
<!--</div>-->
